@keyframes rightAnimation {
  0% {
    transform: rotate(-360deg) scale(.8);
  }

  100% {
    transform: rotate(0) scale(.8);
  }
}

@keyframes leftAnimation {
  0% {
    transform: rotate(0) scale(.8);
  }
  100% {
    transform: rotate(-360deg) scale(.8);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

[data-aos="show"] {
  opacity: 0;
  transition-property: opacity;

  &.aos-animate {
    opacity: 1;
  }

}
