.info-list {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(20px, 4.032vw, 50px);
  counter-reset: li;

  li {
    display: flex;
    align-items: center;
    position: relative;
    grid-gap: clamp(15px, 2.419vw, 30px);
    font-family:  var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-a);

    &::before {
      content: counter(li, decimal) " ";
      width: clamp(30px, 4.516vw, 56px);
      height: clamp(30px, 4.516vw, 56px);

      font-weight: 600;
      font-size: 16px;
      line-height: 30px;
      counter-increment: li;


      font-family:  var(--font-family);
      font-style: normal;
      font-weight: 400;
      font-size: clamp(14px, 1.452vw, 18px);
      line-height: 100%;
      color: var(--color-a);

      background:var(--opacity-counter-bg);
      // opacity: .3;
      border: 1px solid rgba(255, 255, 255, 0.3);

      @include dfc;
      flex-shrink: 0;
      border-radius: 50%;

      @include bg_cover
    }

  }
}
