.roadmap {
  padding-top: 25px;
  padding-bottom: clamp(70px, 18.939vw, 250px);
  background-color: black;

  &__inner {
    grid-gap: clamp(40px, 9.091vw, 120px);
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
