.social-list {
  display: flex;
  grid-gap: 18px;
  justify-content: center;

  &__link {
    background: rgba(72, 37, 135, 0.2);
    border: 1px solid #7D49BF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    grid-gap: 20px;
    padding: 8px 15px;

    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(14px, 1.29vw, 16px);
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--color-a);
  }
}
