.welcome-list {
  min-height: clamp(230px,35.833vw, 473px);
  position: relative;
  pointer-events: none;

  &__item {
    position: absolute;
    display: flex;

    picture {
      position: relative;

      &::before {
        @include psevdo;
        background: transparent;
        left: 1px;
        top: 1px;
        bottom: 1px;
        right: 1px;
        @include bg_position;
        border: .5px solid rgba(255, 255, 255, 0.25);
        z-index: 1;
      }
    }

    &:nth-child(1) {
      bottom: 10%;
      animation: float 13s linear infinite;

      width: Min(8.712vw, 115px);
      height: auto;

    }

    &:nth-child(2) {
      animation: float 11s linear infinite;
      bottom: 60%;
      left: 15%;

      width: Min(8.258vw, 109px);
      height: auto;
    }

    &:nth-child(3) {
      animation: float 9s linear infinite;
      bottom: 17%;
      left: 42%;

      width: Min(13.485vw, 178px);
      height: auto;
    }

    &:nth-child(4) {
      animation: float 8s linear infinite;
      bottom: 50%;
      left: 68%;

      picture:before {
        display: none;
      }

      width: Min(4.318vw, 57px);
      height: auto;
    }

    &:nth-child(5) {
      animation: float 13s linear infinite;
      bottom: 9%;
      left: 75%;

      width: Min(7.955vw, 105px);
      height: auto;
    }

    &:nth-child(6) {
      animation: float 5s linear infinite;
      bottom: 53%;
      left: 86%;

      width: Min(13.485vw, 178px);
      height: auto;
    }
  }
}
