@mixin dfc {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin dfcs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin psevdo {
  position: absolute;
  content: '';
}

@mixin bg_position {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

@mixin bg_cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


